<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %> 

    <main>
            <% if (error) {%>
                <div class="user-message user-message--error">
                    <% if (Array.isArray(error)) { %>
                            <% error.forEach(err => { %>
                                <div>
                                    <%= err %>
                                </div>
                            <% }); %>
                    <% } else { %>
                        <%= error %>
                    <% } %>
                </div>
            <% } %>
        <form class="product-form" action="<%= path %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" value="<%= product ? product.title : '' %>" name="title" id="title">
            </div>
            <div id="product-image" hidden class="product-form__image">
                <img src="" alt="Product Image" />
            </div>
            <div class="form-control">
                <label for="image">Image</label>
                <input onchange="readUrl(this)" accept="image/*" type="file" value="" name="image" id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" value="<%= product ? product.price : '' %>" step="0.01" name="price" id="price">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><%= product ? product.description : '' %></textarea>
            </div>
            <% if (product) { %> <input name="id" hidden value="<%= product.id %>"> <% } %>
            <input hidden name="_csrf" value="<%= csrfToken %>" />
            <button class="btn" type="submit"><%= path === '/admin/edit-product' ? 'Update Product' : 'Add Product' %></button>
        </form>
    </main>
	<script>
        function readUrl(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const imageContainer = document.getElementById('product-image');
                    imageContainer.firstElementChild.src = e.target.result;
                    imageContainer.hidden = false;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
<%- include('../includes/end.ejs') %>